header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: charcoal;
  color: #fff;
  background: #333;
  font: 500 12px "Roboto", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

h3 {
  margin: 0;
  padding-top: 0px;
  font: 1rem "Roboto", sans-serif;
  color: yellow;
}

button {
  height: 32px;
  width: 80px;
  border: 1px solid green;
  border-radius: 5px;
  margin: 15px 0 0 0px;
  background: green;
  color: #fff;
  font-size: 0.9rem;
}
button:hover {
  background-color: rgb(0, 136, 29);
  border: 1px solid rgb(0, 136, 29);
}

input {
  height: 27px;
  width: 200px;
  margin: 15px 15px 0 20px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: row;
}

form p {
  font: 1.1rem "Roboto", sans-serif;
}

@media screen and (max-width: 1255px) {
  .album-flow ul {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 160px;
    background-color: charcoal;
    color: #fff;
    background: #333;
    font: 500 16px "Roboto", sans-serif;
  }

  h1 {
    margin-top: 1%;
    font-size: 1.7rem;
    transition-property: font-size;
    transition-duration: 2s;
  }
  h3 {
    font-size: 1.4rem;
  }
  input {
    margin-bottom: 10px;
  }
  form p {
    font: normal 1.1rem "Roboto", sans-serif;
    padding-top: 5px;
    transition-property: font;
    transition-duration: 2s;
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 20rem;
  }
  h1 {
    margin-top: 5%;
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  form p {
    font-size: 1rem;
  }
}

/* header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      height: 60px;
      width: 100%;
      background-color: charcoal;
      color: #fff;
      background: #333;
      font: 500 12px "Roboto", sans-serif;
    }
    
    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
    }
    
    h3 {
      margin: 0;
      padding-top: 0px;
      font: 1rem "Roboto", sans-serif;
      color: yellow;
    }
    
    button {
      height: 32px;
      width: 80px;
      border: 1px solid green;
      border-radius: 5px;
      margin: 15px 0 0 0px;
      background: green;
      color: #fff;
      font-size: 0.9rem;
    }
    button:hover {
      background-color: rgb(0, 136, 29);
      border: 1px solid rgb(0, 136, 29);
    }
    
    input {
      height: 27px;
      width: 200px;
      margin: 15px 15px 0 20px;
      border-radius: 5px;
      padding-left: 5px;
      font-size: 1.5em;
      font-weight: bold;
    }
    
    form {
      display: flex;
      flex-direction: row;
    }
    
    form p {
      font: 1.1rem "Roboto", sans-serif;
    }
    
    @media screen and (max-width: 1255px) {
      .album-flow ul {
        justify-content: center;
        align-items: center;
      }
    }
    
    @media screen and (max-width: 950px) {
      header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 160px;
        background-color: charcoal;
        color: #fff;
        background: #333;
        font: 500 16px "Roboto", sans-serif;
      }
    
      h1 {
        margin-top: 1%;
        font-size: 1.7rem;
        transition-property: font-size;
        transition-duration: 2s;
      }
      h3 {
        font-size: 1.4rem;
      }
      input {
        margin-bottom: 10px;
      }
      form p {
        font: normal 1.1rem "Roboto", sans-serif;
        padding-top: 5px;
        transition-property: font;
        transition-duration: 2s;
      }
    }
    
    @media screen and (max-width: 500px) {
      header {
        height: 20rem;
      }
      h1 {
        margin-top: 5%;
        font-size: 1.7rem;
      }
      h3 {
        font-size: 1.2rem;
      }
    
      form {
        display: flex;
        flex-direction: column;
      }
      form p {
        font-size: 1rem;
      }
      input {
        margin: 0 0 20px 0;
        height: 30px;
        width: 250px;
      }
      button {
        height: 40px;
        width: 110px;
        margin: 0 auto 20px auto;
      }
    }
    
  }
}

Search.propTypes = {
  onInputSubmit: PropTypes.func
};

export default Search;

    margin: 0 0 20px 0;
    height: 30px;
    width: 250px;
  }
  button {
    height: 40px;
    width: 110px;
    margin: 0 auto 20px auto;
  }
} */
